.home-intro-section {
    height: ~"calc(100vh - @{header-height})";
    max-height: 90rem;

    background-color: @colors[grey-20];
    background-image: linear-gradient(180deg, rgba(@colors[black], 0.6) 0%, rgba(@colors[black], 0.4) 82.89%, rgba(@colors[black], 0.2) 100%), url("../../css-images/HomeIntroImage.png");
    background-size: cover;

    padding: 0 3.2rem;

    #respond-phone({
        min-height: ~"calc(100vh - @{header-height})";
        max-height: none;
        height: auto;

        padding: 0 2.4rem;
    });

    &__container {
        max-width: @grid-width;
        margin: 0 auto;

        height: 100%;

        #display-12-grid();

        #respond-phone({
            min-height: ~"calc(100vh - @{header-height})";
            padding: 3.2rem 0;
        });
    }

    &__image-side {
        grid-column: span 5;

        position: relative;

        #respond-tab-port({
            display: none;
        });

        img {
            width: 41rem;
            
            position: absolute;
            left: 50%;
            bottom: -10.4rem;
            transform: translateX(-50%);

            max-width: @grid-width;

            animation: homeChickenAnimation 1.3s linear .5s both;

            @media (max-width: #pxToEm(1050)[]) {
                width: 37rem;
            }
        }
    }

    &__content-side {
        grid-column: span 7;

        display: flex;
        align-items: center;

        #respond-tab-port({
            grid-column: 2 / span 10;
        });
        @media (max-width: #pxToEm(800)[]) {
            grid-column: span 12;
        }
    }

    &__box {
        padding: 2.4rem;
        background-color: @colors[grey-80];
        width: 100%;

        animation: homeIntroBoxAnimation .8s ease-in-out both;

        #respond-phone({
            text-align: center;
        });

        hr {
            border: none;
            width: 16rem;
            max-width: 100%;

            height: .4rem;
            background-color: @colors[secondary];

            #respond-phone({
                margin: 0 auto;
            });
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        flex-wrap: wrap;

        #respond-phone({
            justify-content: center;
        });
    }
}

.home-leaderboard-container {
    #display-12-grid();

    * {
        grid-column: 2 / span 10;

        #respond-tab-land({
            grid-column: span 12;
        });
    }
}

.home-gallery-section {
    #display-12-grid();

    background-color: @colors[grey-20];

    padding: 3.2rem;

    #respond-tab-port({
        gap: 3.2rem;
        display: flex;
        flex-direction: column;
    });
    #respond-phone({
        padding: 3.2rem 2.4rem;
    });

    &__image {
        height: 29.6rem;

        grid-column: span 4;

        &:focus-visible {
            outline: .4rem solid @colors[secondary-dark];
            outline-offset: 0;
        }

        #respond-tab-port({
            grid-column: span 12;
        });
        @media (max-width: #pxToEm(450)[]) {
            height: 20rem;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.home-about-section {
    #display-12-grid();

    position: relative;

    #respond-tab-port({
        grid-template-columns: @grid-column-width repeat(10, minmax(0, 1fr)) @grid-column-width;
    });

    // side illustration patterns
    &::before, &::after {
        content: "";

        position: absolute;
        width: 6.4rem;
        height: 100%;

        background-image: url("../../css-images/Pattern.svg");
        background-repeat: repeat-y;

        top: 0;

        #respond-phone({
            display: none;
        });
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }

    &__content {
        grid-column: 3 / span 8;

        padding: 3.2rem 0;

        #respond-tab-port({
            grid-column: 2 / span 10;
        });

        #respond-phone({
            grid-column: 1 / span 12;
        });
    }
}