<?php
    # set configuration values, remove this comment and rename this file to Config.php

    define('SITENAME', 'Ročníková práce');

    define('DB_HOST', '');
    define('DB_USER', '');
    define('DB_PASS', '');
    define('DB_NAME', '');
    define('DB_PORT', '');

    define('APPROOT', dirname(__FILE__));
    define('URLROOT', 'http://localhost/projects/rocnikova-prace/app');
    // define('ASSETSROOT', 'http://localhost/projects/rocnikova-prace/app/public/static'); // PRODUCTION
    define('ASSETSROOT', 'http://localhost:3000'); // DEVELOPMENT
?>