@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.heading-primary,
.heading-secondary {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    color: @colors[grey-80];
}

.heading-primary {
    font-size: 4rem;
}

.heading-secondary {
    font-size: 3.2rem;
}

.paragraph {
    font-size: 2rem;
    line-height: 2.8rem;

    color: @colors[grey-60];
}

.label {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;

    color: @colors[grey-80];

    display: block;
    width: fit-content;
}