.header {
    background-color: @colors[primary-dark];
    height: @header-height;

    padding: 0 3.2rem;

    position: relative;

    user-select: none;

    #respond-phone({
        padding: 0 2.4rem;
    });

    &__content {
        height: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;

        padding: .8rem 0;
    }

    &__home-link {
        &:link, &:visited {
            text-decoration: none;

            display: flex;
            align-items: center;
            gap: 1.2rem;
        }

        &:focus-visible {
            outline: .2rem solid @colors[white];
        }
    }

    &__logo {
        width: 3.2rem;

        @media (max-width: #pxToEm(450)[]) {
            width: 2.4rem;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1;

        color: @colors[white];
        text-transform: uppercase;
        text-decoration: none;

        @media (max-width: #pxToEm(450)[]) {
            font-size: 2.4rem;
        }
        @media (max-width: #pxToEm(355)[]) {
            font-size: 2rem;
        }
    }

    &__navigation {
        #respond-tab-port({
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 30;

            transform: translateX(100%);

            background-color: @colors[grey-80];
            border-left: .8rem solid @colors[grey-60];

            padding: 2.4rem 3.2rem;

            transition: all .4s;
        });
        #respond-phone({
            width: 100%;
            border: none;
        });

        ul {
            list-style: none;

            display: flex;
            align-items: center;
            gap: 2.4rem;

            #respond-phone({
                justify-content: center;
                flex-wrap: wrap;
            });
        }

        &--opened {
            #respond-tab-port({
                transform: translateX(0);
            });
        }
    }

    &__navigation-item {
        &:link, &:visited {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1;

            text-decoration: none;
            text-transform: uppercase;

            color: @colors[white];
        }

        &:focus-visible {
            outline: .2rem solid @colors[white];
        }

        &:hover {
            text-decoration: underline;
        }
    }
}