.page-layout {
    min-height: ~"calc(100vh - @{header-height})";
    display: flex;
    flex-direction: column;

    @media (min-width: @page-margin-breakpoint) {
        min-height: ~"calc(100vh - @{header-height} - 6.4rem)";
    }

    &__container {
        display: grid;
        grid-template-columns: @grid-column-width repeat(10, minmax(0, 1fr)) @grid-column-width;
        gap: @grid-gutter;

        flex-grow: 2;
        align-self: center;

        width: 100%;
        max-width: @grid-width + 6.4rem;
        margin: 0 auto;

        padding: 3.2rem;

        position: relative;

        #respond-phone({
            gap: 0;
        });

        // side illustration patterns
        &::before, &::after {
            content: "";

            position: absolute;
            width: 6.4rem;
            height: 100%;

            background-image: url("../../css-images/Pattern.svg");
            background-repeat: repeat-y;

            top: 0;

            #respond-tab-port({
                display: none;
            });
        }
        &::before {
            left: 3.2rem;
        }
        &::after {
            right: 3.2rem;
        }
    }

    &__content {
        grid-column: 2 / span 10;

        #respond-tab-port({
            grid-column: 1 / span 12;
        });
    }
}