.link {
    &:link, &:visited {
        color: @colors[secondary];

        text-decoration: underline;

        transition: all .1s;

        outline-color: @colors[secondary-dark];
    }

    &:hover, &:focus-visible {
        color: @colors[grey-80];
        background-color: @colors[secondary];
    }
}