.profile-card {
    grid-column: 2 / span 10;

    background-color: @colors[white];

    display: flex;
    gap: 3.2rem;

    border-right: 2.4rem solid @colors[secondary];

    padding-left: 12.8rem;

    position: relative;

    #respond-tab-port({
        grid-column: 1 / span 12;
    });
    @media (max-width: #pxToEm(700)[]) {
        padding-left: 3.2rem;
    }

    &::before {
        content: "";

        width: 6.4rem;
        height: 100%;

        position: absolute;
        top: 0;
        left: 3.2rem;

        background-image: url("../../css-images/Pattern.svg");
        background-repeat: repeat-y;

        @media (max-width: #pxToEm(700)[]) {
            display: none;
        }
    }

    &__image {
        margin: 3.2rem 0;
        height: 30.8rem;

        @media (max-width: #pxToEm(550)[]) {
            display: none;
        }
    }

    &__content {
        flex: 2;
        background-image: url("../../css-images/profile-background-pattern.svg");

        padding: 3.2rem 3.2rem 0 0;

        @media (max-width: #pxToEm(550)[]) {
            padding-bottom: 3.2rem;
        }
    }
}