.profile-card {
    grid-column: 2 / span 10;

    background-color: @colors[white];

    display: flex;
    gap: 3.2rem;

    border-right: 2.4rem solid @colors[secondary];

    // padding: 3.2rem 0 3.2rem 12.8rem;
    padding-left: 12.8rem;

    position: relative;

    &::before {
        content: "";

        width: 6.4rem;
        height: 100%;

        position: absolute;
        top: 0;
        left: 3.2rem;

        background-image: url("../../css-images/Pattern.svg");
        background-repeat: repeat-y;
    }

    &__image {
        margin: 3.2rem 0;
        height: 30.8rem;
    }

    &__content {
        flex: 2;
        background-image: url("../../css-images/profile-background-pattern.svg");

        padding: 3.2rem 3.2rem 0 0;
    }
}